
body
{
    background-color: rgb(195, 189, 189);

}
/* NAV Bar */
header {
    background-color: rgb(174, 169, 167);
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 10px; 
}

header .logo img.brain {
    height: 50px; 
    width: auto; 
}


nav ul {
    display: flex; 
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
}

header nav ul li {
    margin-right: 20px; 
    /* padding-right:20px; */
}

header nav ul li a {
    text-decoration: none; 
}

/* Introduction */
.introduction
{
    display:grid;
    grid-template-columns: 1fr 1fr 300px 200px 1fr 1fr;
    grid-template-rows: 100px 50px 1fr 1fr;
    
    

}

.introduction h1
{
    font-size: 2.5em;
    margin-bottom: 0.5em; 
}

.introduction h3
{
    font-size: 1.5em;
}

.introduction div.intro-Info{
    grid-column:3;
    grid-row:2;
    margin-top:125px;
}
.introduction div.img-container
{
    grid-column: 4;
    grid-row: 3 / span 3;
    margin-left:10px;
}

.introduction div img
{
    width:150%;
    transition: transform 0.3s ease-in-out;
    border-radius: 20%;
    animation:none;


   
}

.introduction div img:hover
{
 transform: scale(1.1); /* Slight zoom on hover */
}

/* About Me */
 .about-me
 {
    display:grid;
    grid-template-columns: repeat(15, 100px);
    grid-template-rows: repeat(6, 100px);
 }
 .about-me h1
 {
    grid-row:2;
    grid-column: 8 / span 2  ;
    font-size: 3rem;
 }
 .about-me h4
 {
    font-size: 1.5rem;
 }

 @keyframes blobAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}


 .about-me-info
 {
    grid-column: 12 / span 3 ;
    grid-row: 3/ span 3;
    margin-right: 10px;
 }

 .about-me-img img
 {
    max-width: 100%;
    clip-path: path('M75 105 Q150 0 240 105 T420 105 Q300 180 240 300 T75 240 Q150 210 75 105 Z');
    animation: blobAnimation 5s ease-in-out infinite;
 }
 .about-me-img
 {

    grid-column: 7 / span 4;
    grid-row: 3 / span 3;
 }

/* Projects */
section.projects
{
    display:grid;
    grid-template-columns: repeat(7, 100px);
    grid-template-rows: repeat(7, 100px);
}
section.projects h1
{
    font-size:3rem;
    grid-row: 1;
    grid-column: 8 / span 2;
}
section button.project-button
{
    background-color:black;
    color:white;
    grid-column:4 / span 2;
    grid-row: 3 / span 2;
    font-size: 1.5rem;
    border-radius:8px;
    margin-top:60px;
    margin-bottom:60px;
    transition: background-color 0.5s ease; 
    transition: color 0.5s ease;
}
section button.project-button:hover
{
    background-color: rgba(255, 255, 255, 0.1);
    color:rgb(0, 0, 0);
}
.colmar
{
    grid-column:6 / span 50;
    grid-row: 2 / span 4; ;
    margin-left:10px;
    
    
}
.colmar-info {
    grid-row: 3 ; /* This occupies row 2 */
    grid-column: 9; /* This occupies columns 2 to 5 */
    background-color:white;
    font-size:1.75em;
    border:2px solid black
    
}

.colmar-img {
    grid-row:3 ; 
    grid-column: 10; 
    background-color:white;
    border:2px solid black
    
}
.colmar-img img {
    width: 100%; /* Full width of the container */
    height: 100%; /* Maintain aspect ratio */
}

/* Contact Me */
.contact
{
    display:flex;
    width:1500px;
    height:800px;
}
.contact-left
{
    display:flex;
    flex-direction:column;
    height:400px;
    width:400px;
    margin-left: 400px;
}

.location
{
    display:flex;
    padding-right:10px;
}
.location img
{
    height:150px;
    width:150px;
    margin-right:20px;
}
.location h3
{
    margin-left: 15px;
    font-size: 20px;
}


.call
{
    display:flex;
    margin:20px 0px 20px 0px;
}
.call img
{
    height:150px;
    width:150px;
}
.call h3
{
    margin-left: 15px;
    font-size: 20px;
}

.email
{
    display:flex;
}

.email img
{
    height:150px;
    width:150px;
}
.email h3
{
    margin-top:30px;
    margin-left: 15px;
    font-size: 20px;
}

.contact-right{
   
    margin-left: 100px;
    display:flex;
    flex-direction:column;
}
.touch 
{
    font-size: 3em;
    margin-bottom:10px;
    color:beige;
}
.name-email
{
    margin-bottom:10px;
}
.submit-form
{
    margin-top:15px;
    margin-left:100px;
    width:100px;
    height:50px;
    border-radius:10px;
}

.submit-form
{
    font-size:18px;
    
    gap:10px;
    border:none;
    cursor:pointer;
    background: linear-gradient(270deg, #878a63, #e3ca71);
}
.submit-form img

{
    width:15px;
    height:15px;
    
}

/* Horizontal line */
.hr 
{
    width:100px;
    margin-bottom: 25px;
}

.contact-inputs
{
    padding-left:25px;
    border-radius:50px;
}
.contact-right textarea
{
    padding-left:20px;
    border-radius:20px;
}

.contact-inputs:focus
{
    border: 2px solid #448ae0;
    outline:none;
}
